body{
  margin:auto;
  font-size: 16pt;  /* = 1 rem */
  font-family: "ff-kava-web-pro", sans-serif;
}

header{
  height: 50rem;
  background-color: green;
  background-image: url("../images/recipes-background.png");
  background-size: 100%;
  background-position: center;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo img{
  height:4rem;
  margin-left: 5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

header h1{
  font-family: "ff-kava-web-pro", sans-serif;
  font-weight: 100;
  padding-top: 0rem;
  padding-left: 12rem;
}

.index li{
  list-style-type: none;
  position: relative;
  display: inline;
  text-decoration: none;
  padding-left: .5rem;
  padding-right: .5rem;
  top: 0rem;
  font-family: "museo-slab",serif;
  font-size: 1rem;
}

.wrapper {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, .94);
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  /*max-width: 28rem;*/
  height: 29rem;
  overflow-y: auto;
}

.content{
  margin: 0 auto;
  width: 85%;
}

.content h2{
  font-family: "museo-slab",serif;
  color: #5F6B56;
  font-size: 1.5rem;
}
.content h3{
  color: #3F3F3F;
  margin-bottom: 0rem;
}
.content h4{
  color: #3F3F3F;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.content p{
  color: #3F3F3F;
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}


@media screen and (min-width: 600px) {
  .wrapper {
    padding-left: 5rem;
    padding-right: 5rem;
    max-width: 35rem;
  }
}
